#changelog {
  background: #f2f2f2;
  padding: 1rem;
}

#changelog * {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.lobby-settings * {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.lobby-settings h2 {
  font-size: 1.5em;
  text-decoration: underline;
}

.lobby-settings ul {
  padding-left: 20px;
}

.lobby-settings li {
  font-size: 1em;
  line-height: 1.5em;
}

.home-page-button {
  --rotate-deg: 1.5deg;
  --rotate-duration: 2s;
  border: none;
  cursor: pointer;
  scale: 1;
}

.wobble {
  animation: wobble var(--rotate-duration) ease-in-out infinite;
}

.wobble-reverse {
  animation: wobble-reverse var(--rotate-duration) ease-in-out infinite;
}

@keyframes wobble {
  0% {
    rotate: calc(var(--rotate-deg) * -1);
  }
  50% {
    rotate: var(--rotate-deg);
  }
  100% {
    rotate: calc(var(--rotate-deg) * -1);
  }
}

@keyframes wobble-reverse {
  0% {
    rotate: var(--rotate-deg);
  }
  50% {
    rotate: calc(var(--rotate-deg) * -1);
  }
  100% {
    rotate: var(--rotate-deg);
  }
}
