.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.join-form > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.join-form input[type='text'] {
  font-size: 24px;
  padding: 1rem;
  border: 4px solid black;
  border-radius: 7px;
}

#randomize-name-button:hover {
  --rotate-deg: 2deg;
  animation: wobble 0.2s ease-in-out 2;
}
